@page
@model FuseHostelsAndTravel.Pages.JoinOurCrew.IndexModel

@section Styles {
    <style type="text/css">
        .header-banner-image-background {
            background-position-y: 30% !important;
        }
    </style>
}

@if (Model.JobVacancy != null)
{
    <section id="getInTouch" class="bg-light overflow-hidden position-relative">
        <div class="container-fluid">
            <div class="container pt-8 pb-8">
                <div class="row d-flex justify-content-center text-center">
                    <div class="col-lg-12 has-parallax-scroll">
                        <h1 class="display-3 mb-4">APPLY NOW</h1>
                        <div class="card mt-5">
                            <div class="card-body p-5">
                                <div class="d-flex justify-content-center">
                                    <h4 class="tilted display-6">@Model.JobVacancy.JobTitle</h4>
                                </div>
                                <div class="d-flex justify-content-center mb-3">
                                    <h5>@Model.JobVacancy.Location</h5>
                                </div>
                                <hr class="hr"/>
                                <div class="row">
                                    <div class="col-lg-6 text-start">
                                        @Html.Raw(Model.JobVacancy.Description)
                                    </div>
                                    <div class="col-lg-6">
                                        @Html.DisplayFor(x => x.JoinOurCrewComponent)
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
}
else
{
    <section id="headerBanner">
        @Html.DisplayFor(x => x.HeaderBanner)
        <partial name="_NavPillsPartial" model="Model.NavPills"/>
    </section>

    <section id="why-work-with-us" class="overflow-hidden inherit-sticky-parent">
        @Html.DisplayFor(x => x.IntroductionBanner)
    </section>

    <section id="available-positions" class="overflow-hidden inherit-sticky-parent">
        <div class="container-fluid p-0 m-0 position-relative bg-light">
            <div class="container pt-8 pb-8 text-center ovals-container-parent">
                <div class="row justify-content-lg-center has-parallax-scroll">
                    <div class="col-12">
                        <h2>Join Our Adventure Team</h2>
                    </div>
                    <div class="col-12 col-lg-6">
                        <p>Discover Your Next Great Adventure – Explore Exciting Job Opportunities with Fuse Hostels and Travel!</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid p-0 m-0 position-relative bg-light">
            <div class="container pb-8 text-center">
                <div class="row">
                    @if (Model.JobVacancies != null && Model.JobVacancies.Any())
                    {
                        @Html.DisplayFor(x => x.JobVacanciesCards)
                    }
                    else
                    {
                        <p>We currently have no Job Vacancies available.</p>
                    }
                </div>
            </div>
        </div>
    </section>

    <section id="stay-up-to-date">
        <div class="container-fluid bg-gray">
            <div class="container py-5 px-4 px-lg-0 has-parallax-scroll">
                <div class="row justify-content-lg-between align-items-center">
                    <div class="col-lg-auto mb-3 mb-lg-0">
                        <div class="row flex-column">
                            <h4 class="tilted mt-2">STAY UP TO DATE</h4>
                        </div>
                    </div>
                    <div class="col-lg-6 mb-3 mb-lg-0">
                        <div class="row flex-column">
                            <p class="text-white">
                                Embark on a journey of endless excitement with Fuse Hostels and Travel! Stay up-to-date with our thrilling events by joining us on Facebook. From epic pool parties to unforgettable tours, there's always something happening.
                            </p>
                            <p class="text-white">
                                Prefer a more personal touch? Reach out to us directly using the contact details below. Our team is here to ensure your experience is nothing short of extraordinary.
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-auto">
                        <div class="row flex-column">
                            <a class="btn btn-primary" href="https://www.facebook.com/fusehostelsandtravel" target="_blank">Head To Facebook</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="hostels">
        <div class="container pt-8 pb-8">
            <div class="row mb-8">
                <div class="col-12 text-center has-parallax-scroll">
                    <h2>HOSTEL DETAILS</h2>
                </div>
            </div>
            <div class="row">
                @if (Model.Properties != null && Model.Properties.Any())
                {
                    var animationDelay = 200;
                    var contentCount = Model.Properties.Count();
                    var divisibleBy5 = contentCount % 5 == 0;
                    var lgClass = contentCount % 3 == 0 || divisibleBy5 ? 4 : contentCount % 2 == 0 ? 6 : 12;
                    var columnCount = 0;

                    foreach (var property in Model.Properties)
                    {
                        if (divisibleBy5)
                        {
                            if (columnCount % 3 == 0)
                            {
                                lgClass = lgClass == 4 ? 6 : 4;
                            }
                        }

                        var hostelAddressGoogleFormat = $"{property.AddressLine1.Replace(" ", "+").Replace(",", "")}+{property.AddressLine2?.Replace(" ", "+").Replace(",", "")}";

                        <div class="col-lg-@lgClass @(property != Model.Properties.Last() ? "mb-5" : "") mb-lg-0 has-parallax-scroll">
                            <div class="card h-100 shadow-0 bg-light-gray">
                                <div class="card-body">
                                    <h4 class="tilted display-6 mb-4 mt-n5 ms-n4">@property.Name Hostel</h4>
                                    <table cellpadding="8">
                                        <tr>
                                            <td>
                                                <i class="fa-solid fa-phone text-purple"></i>
                                            </td>
                                            <td>@property.TelephoneNumber</td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <i class="fa-solid fa-location-dot text-purple"></i>
                                            </td>
                                            <td>@($"{property.AddressLine1}, {property.AddressLine2}")</td>
                                        </tr>
                                        @if (!string.IsNullOrEmpty(property.EmailAddress))
                                        {
                                            <tr>
                                                <td>
                                                    <i class="fa-solid fa-at text-purple"></i>
                                                </td>
                                                <td>@($"{property.EmailAddress}")</td>
                                            </tr>
                                        }
                                        <tr>
                                            <td></td>
                                            <td>
                                                <a href="@($"http://maps.google.com?saddr=My+Location&daddr={hostelAddressGoogleFormat}")" target="_blank">DIRECTIONS</a>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>

                        animationDelay += 200;
                    }
                }
            </div>
        </div>
    </section>
}

@section LdJson {
    <script type="application/ld+json">
            {
              "@@context": "https://schema.org",
                  "@@type": "BreadcrumbList",
                  "itemListElement": [
                    {
                      "@@type": "ListItem",
                      "position": 1,
                      "name": "Home",
                      "item": "https://fusehostelsandtravel.com"
                    },
                    {
                      "@@type": "ListItem",
                      "position": 2,
                      "name": "Join Our Crew",
                      "item": "https://fusehostelsandtravel.com/join-our-crew"
                    }
                  ]
                }
        </script>
}