@page

@using System.Web
@model FuseHostelsAndTravel.Pages.TravelGuide.IndexModel

@section LdJson {
    <script type="application/ld+json">
        {
          "@@context": "https://schema.org",
                  "@@type": "BreadcrumbList",
                  "itemListElement": [
                    {
                      "@@type": "ListItem",
                      "position": 1,
                      "name": "Home",
                      "item": "https://fusehostelsandtravel.com"
                    },
                    {
                      "@@type": "ListItem",
                      "position": 2,
                      "name": "Travel Guides",
                      "item": "https://fusehostelsandtravel.com/travel-guides"
                    },
                    {
                      "@@type": "ListItem",
                      "position": 3,
                      "name": "@(Html.Raw(Model.TravelGuide?.Title))",
                      "item": "https://fusehostelsandtravel.com/travel-guides/@(Model.TravelGuide?.UrlFriendlyTitle)"
                    }
                  ]
                }
    </script>
    <script type="application/ld+json">
        {
          "@@context": "https://schema.org",
          "@@type": "BlogPosting",
          "headline": "@Model.TravelGuide?.Title",
          "author": {
            "@@type": "Person",
            "name": "@Model.UserName"
          },
          "datePublished": "@Model.TravelGuide?.CreatedOn.ToShortDateString()",
          "image": "@Model.TravelGuide?.ImagePath",
          "articleBody": "@HttpUtility.HtmlDecode(Model.TravelGuide?.DescriptionFormatted)",
          "publisher": {
            "@@type": "Organization",
            "name": "Fuse Hostels and Travel", 
            "logo": {
              "@@type": "ImageObject",
              "url": "https://travaloud.azureedge.net/fuse/assets/images/Fuse-primary-logo.svg"
            }
          },
          "mainEntityOfPage": {
            "@@type": "WebPage",
            "@@id": "https://fusehostelsandtravel.com/travel-guides/@(Model.TravelGuide?.UrlFriendlyTitle)"
          }
        }
    </script>
}

@section Styles {
    <link rel="stylesheet"
          href="https://mdbcdn.b-cdn.net/wp-content/themes/mdbootstrap4/docs-app/css/dist/mdb5/plugins/standard/multi-carousel.min.css"/>
    <link rel="stylesheet" href="/css/travelguides.min.css" asp-append-version="true"/>
}


@Html.DisplayFor(x => x.CarouselComponent)

@* <section id="headerBanner"> *@
@*     @Html.DisplayFor(x => x.HeaderBanner) *@
@* </section> *@

<section id="introduction" class="bg-light">
    <div class="container-fluid">
        <div class="container pt-8">
            <div class="row">
                <div class="col-md-12 col-lg-9 mb-5 mb-lg-3 has-parallax-scroll">
                    <h2 class="display-4" id="@Model.NavPills?.First().IdTitle">@Model.TravelGuide?.SubTitle.ToUpper()</h2>
                </div>
                <div class="col-md-3 mb-4">
                    <div class="row align-items-center mb-4">
                        @* <div class="col-lg-12 text-center text-lg-end mb-3"> *@
                        @*     <small> Published <u>@Model.TravelGuide?.CreatedOn.ToShortDateString()</u> *@
                        @*         by @Model.UserName</small> *@
                        @* </div> *@

                        @{
                            var urlToShare = $"{HttpContext.Request.Scheme}://{HttpContext.Request.Host}{HttpContext.Request.PathBase}{HttpContext.Request.Path}{HttpContext.Request.QueryString}";

                            <div class="col-lg-12 text-center text-lg-end">
                                <a class="btn text-white btn-lg btn-floating" data-mdb-ripple-init
                                   style="background-color: #3b5998;"
                                   target="_blank"
                                   href="@($"https://www.facebook.com/sharer/sharer.php?u={urlToShare}")"
                                   role="button">
                                    <i class="fab fa-facebook-f"></i>
                                </a>

                                <a class="btn text-white btn-lg btn-floating" data-mdb-ripple-init
                                   style="background-color: #55acee;"
                                   target="_blank"
                                   href="@($"http://twitter.com/share?text={Model.TravelGuide?.Title}&url={urlToShare}")"
                                   role="button">
                                    <i class="fab fa-twitter"></i>
                                </a>
                            </div>
                        }
                    </div>
                </div>



                @if (Model.NavPills != null && Model.NavPills.Any())
                {
                    <div class="col-md-12 col-lg-3 mb-5 mb-lg-0 has-parallax-scroll">
                        @* @if (Model.TravelGuide != null && Model.TravelGuide.TravelGuideGalleryImages.Any()) *@
                        @* { *@
                        @*     <div class="lightbox mb-3" data-mdb-lightbox-init> *@
                        @*         <!-- Carousel wrapper --> *@
                        @*         <div id="travelGuidesSlideshow" class="carousel slide carousel-fade" data-mdb-ride="carousel" data-mdb-carousel-init> *@
                        @*             <!-- Inner --> *@
                        @*             <div class="carousel-inner"> *@
                        @*                 @if (Model.TravelGuide.TravelGuideGalleryImages.Any()) *@
                        @*                 { *@
                        @*                     foreach (var image in Model.TravelGuide.TravelGuideGalleryImages) *@
                        @*                     { *@
                        @*                         if (!string.IsNullOrEmpty(image.ImagePath)) *@
                        @*                         { *@
                        @*                             var formattedImagePath = image.ImagePath.FormatImageUrl(700, Model.TenantId); *@
                        @* *@
                        @*                             <div class="carousel-item @(image == Model.TravelGuide.TravelGuideGalleryImages.First() ? "active" : "")"> *@
                        @*                                 <img *@
                        @*                                     src="@formattedImagePath" *@
                        @*                                     data-mdb-img="@image.ImagePath" *@
                        @*                                     alt="@Model.TravelGuide.Title" *@
                        @*                                     class="w-100"/> *@
                        @*                             </div> *@
                        @*                         } *@
                        @*                     } *@
                        @*                 } *@
                        @*             </div> *@
                        @*             <!-- Inner --> *@
                        @* *@
                        @*             <!-- Controls --> *@
                        @*             <button class="carousel-control-prev" type="button" data-mdb-target="#travelGuidesSlideshow" data-mdb-slide="prev"> *@
                        @*                 <span class="carousel-control-prev-icon" aria-hidden="true"></span> *@
                        @*                 <span class="visually-hidden">Previous</span> *@
                        @*             </button> *@
                        @*             <button class="carousel-control-next" type="button" data-mdb-target="#travelGuidesSlideshow" data-mdb-slide="next"> *@
                        @*                 <span class="carousel-control-next-icon" aria-hidden="true"></span> *@
                        @*                 <span class="visually-hidden">Next</span> *@
                        @*             </button> *@
                        @*         </div> *@
                        @*     </div> *@
                        @* } *@
                        <div class="card sticky-top">
                            <div class="card-header">
                                <p><strong>Table of Contents</strong></p>
                            </div>
                            <div class="card-body">
                                <ul class="nav flex-column nav-pills menu-sidebar">
                                    @foreach (var navPill in Model.NavPills)
                                    {
                                        <li class="nav-item">
                                            <a class="nav-link" href="#@navPill.IdTitle">@Html.Raw(navPill.Title)</a>
                                        </li>
                                    }
                                </ul>
                            </div>
                        </div>
                    </div>
                }

                <div
                    class="col-md-12 col-lg-@(Model.NavPills != null && Model.NavPills.Any() ? "9" : "12") mb-5 mb-lg-0 has-parallax-scroll">
                    @* <h2 class="mb-4 travel-guide-subtitle" *@
                    @*     id="@Model.NavPills?.First().IdTitle">@Model.TravelGuide?.SubTitle.ToUpper()</h2> *@
                    @Html.Raw(Model.TravelGuide?.Description)
                </div>
                
                <div class="col-md-12 border-top mt-4">
                    @if (Model.RelatedTravelGuides.Any())
                    {
                        @Html.DisplayFor(x => x.RelatedTravelGuidesCards)
                    }
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts {
    <script
        src="https://mdbcdn.b-cdn.net/wp-content/themes/mdbootstrap4/docs-app/js/dist/mdb5/plugins/standard/multi-carousel.min.js"
        defer></script>
}