@page
@model FuseHostelsAndTravel.Pages.TravelGuides.IndexModel

@section Styles {
    <link rel="stylesheet" href="/css/smallheader.css" type="text/css"/>
}

<section id="headerBanner">
    @Html.DisplayFor(x => x.HeaderBanner)
</section>

<section id="travelGuides" class="pt-8 pb-5">
    <div class="container">
        @if (Model.TravelGuides != null && Model.TravelGuides.Data.Any())
        {
            var firstTravelGuide = Model.TravelGuides.Data.First();
            var firstImagePath = firstTravelGuide.ImagePath?.FormatImageUrl(700, Model.TenantId);
            <div class="border-bottom pb-4 mb-5">
                <div class="row gx-5">
                    <div class="col-md-6 mb-4">
                        <div class="bg-image hover-overlay shadow-2-strong" data-mdb-ripple-init data-mdb-ripple-color="light">
                            <img src="@firstImagePath" class="img-fluid" alt="@firstTravelGuide.Title image"/>
                            <a asp-page="/TravelGuide/Index" asp-route-title="@(firstTravelGuide.UrlFriendlyTitle ?? firstTravelGuide.Title.UrlFriendly())">
                                <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                            </a>
                        </div>
                    </div>

                    <div class="col-md-6 mb-4">
                        <span class="badge bg-danger px-2 py-1 shadow-1-strong mb-3">Latest Travel Guide</span>
                        <h4>
                            <strong>@firstTravelGuide.Title</strong>
                        </h4>
                        <p class="text-muted">
                            @Html.Raw(firstTravelGuide.ShortDescription)
                        </p>
                        <a class="btn btn-primary" asp-page="/TravelGuide/Index" asp-route-title="@(firstTravelGuide.UrlFriendlyTitle ?? firstTravelGuide.Title.UrlFriendly())" data-mdb-ripple-init>Read more</a>
                    </div>
                </div>
            </div>

            <div class="row gx-5">
                @foreach (var travelGuide in Model.TravelGuides.Data.Skip(1))
                {
                    var imagePath = travelGuide.ImagePath?.FormatImageUrl(500, Model.TenantId);
                    <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
                        <div class="bg-image hover-overlay shadow-1-strong mb-4" data-mdb-ripple-init data-mdb-ripple-color="light">
                            <img src="@imagePath" class="img-fluid" alt="@travelGuide.Title image"/>
                            <a asp-page="/TravelGuide/Index" asp-route-title="@(firstTravelGuide.UrlFriendlyTitle ?? firstTravelGuide.Title.UrlFriendly())">
                                <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                            </a>
                        </div>

                        <div class="row mb-3">
                            <div class="col-8 d-flex align-items-center">
                                <h5 class="mb-0 pb-0">@travelGuide.Title</h5>
                            </div>

                            <div class="col-4 text-end justify-content-end d-flex align-items-center">
                                <u class="small"> @travelGuide.CreatedOn.ToShortDateString()</u>
                            </div>
                        </div>

                        @Html.Raw(travelGuide.ShortDescription)

                        <a class="btn btn-primary mt-3" asp-page="/TravelGuide/Index" asp-route-title="@(firstTravelGuide.UrlFriendlyTitle ?? firstTravelGuide.Title.UrlFriendly())" data-mdb-ripple-init>Read more</a>
                    </div>
                }
            </div>
            <hr class="hr mt-5"/>
            <nav class="my-4" aria-label="...">
                <ul class="pagination pagination-circle justify-content-center">
                    @if (Model.TravelGuides.HasPreviousPage)
                    {
                        <li class="page-item">
                            <a class="page-link" asp-page="/TravelGuides/Index" asp-route-page="@(Model.TravelGuides.CurrentPage - 1)" tabindex="-1" aria-disabled="true">Previous</a>
                        </li>
                    }

                    @for (var i = 0; i < Model.TravelGuides.TotalPages; i++)
                    {
                        var pageNumber = i + 1;

                        if (pageNumber == Model.TravelGuides.CurrentPage)
                        {
                            <li class="page-item active" aria-current="page">
                                <a class="page-link" asp-page="/TravelGuides/Index" asp-route-pageNumber="@pageNumber">
                                    @pageNumber <span class="sr-only">(current)</span>
                                </a>
                            </li>
                        }
                        else
                        {
                            <li class="page-item">
                                <a class="page-link" asp-page="/TravelGuides/Index" asp-route-pageNumber="@pageNumber">@pageNumber</a>
                            </li>
                        }
                    }

                    @if (Model.TravelGuides.HasNextPage)
                    {
                        <li class="page-item">
                            <a class="page-link" asp-page="/TravelGuides/Index" asp-route-pageNumber="@(Model.TravelGuides.CurrentPage + 1)">Next</a>
                        </li>
                    }
                </ul>
            </nav>
        }
    </div>

</section>