@model Travaloud.Application.Basket.Dto.BasketItemModel

<div class="row mb-4 d-flex justify-content-between align-items-center basketItem" data-id="@Model.Id">
    @if (!Model.IsConfirmationPage)
    {
        <div class="col-lg-2 mb-3 mb-lg-0 basketItemImage">
            @if (Model.Rooms != null && Model.Rooms.Any())
            {
                <img src="@Model.PropertyImageUrl" class="img-fluid rounded-3" alt="@Model.PropertyName">
            }
            else if (!string.IsNullOrEmpty(Model.TourImageUrl))
            {
                <img src="@Model.TourImageUrl" class="img-fluid rounded-3" alt="@Model.TourName">
            }
        </div>   
    }
    <div class="col-lg-@(Model.IsConfirmationPage ? "7" : Model.HideRemoveButton ? "5" : "4") col-6">
        @if (!Model.HideRemoveButton)
        {
            <a href="@Model.EditBookingHref">
                <h6 class="text-primary cursor-pointer">
                    <i class="fa-solid fa-pen-to-square"></i> @(!string.IsNullOrEmpty(Model.PropertyName) ? Model.PropertyName : Model.TourName)
                </h6>
            </a>
        }
        else
        {
            <h6 class="text-primary cursor-pointer">
                @(!string.IsNullOrEmpty(Model.PropertyName) ? Model.PropertyName : Model.TourName)
            </h6>
        }
        
        @if (Model.PropertyId.HasValue)
        {
            <h6 class="text-black mb-0">@Model.CheckInDateParsed?.ToShortDateString() - @Model.CheckOutDateParsed?.ToShortDateString()</h6>
        }
        else
        {
            <h6 class="text-black mb-0">@Model.TourDates.First().StartDate.ToLongDateString()</h6>
        }
    </div>
    <div class="col-lg-4 col-6 text-end">
        @if (Model.Rooms != null)
        {
            <h6 class="text-muted">@($"{Model.Rooms.Count} Room{(Model.Rooms.Count > 1 ? "s" : "")} Selected")</h6>   
        }
        else if (Model.TourDates != null && Model.TourDates.Any())
        {
            <h6 class="text-muted">@($"{Model.TourDates.Count} Date{(Model.TourDates.Count > 1 ? "s" : "")} Selected")</h6>   
        }
        <h6
            class="text-primary itemToggleButton mb-0"
            type="button"
            data-mdb-collapse-init
            data-mdb-target="#@($"itemDetails{Model.Id}")"
            aria-expanded="false"
            aria-controls="@($"itemDetails{Model.Id}")">
            <i class="fa-solid fa-circle-arrow-down"></i> Show Details
        </h6>
    </div>

    @if (Model is {IsConfirmationPage: false, HideRemoveButton: false})
    {
        <div class="col-lg-2 col-12 text-lg-center text-start">
            <span class="text-muted cursor-pointer d-none d-lg-block" onclick="removeItemFromBasket('@Model.Id');">
                <i class="fas fa-times"></i>
            </span>
            <h6 class="text-danger cursor-pointer d-lg-none mt-3" onclick="removeItemFromBasket('@Model.Id');">
                Remove
            </h6>
        </div>
    }
</div>

<hr class="my-4 basketItemSpacer" data-id="@Model.Id"/>

<div class="collapse mt-3 basketItemDetails" id="@($"itemDetails{Model.Id}")" data-id="@Model.Id">
    @if (Model.Rooms != null)
    {
        foreach (var room in Model.Rooms)
        {
            <div class="row mb-4 d-flex justify-content-between align-items-center">
                <div class="col-lg-@(Model.IsConfirmationPage ? "9" : "10") col-6 text-lg-end">
                    <h6 class="text-muted">@room.RoomTypeName</h6>
                    <h6 class="text-black mb-0">@room.RoomQuantityLabel</h6>
                </div>
                <div class="col-lg-@(Model.IsConfirmationPage ? "3" : "2") col-6 text-lg-center text-end">
                    <h6 class="mb-0">$ @room.FormattedRate</h6>
                </div>
            </div>
        }
    }
    else if (Model.TourDates != null && Model.TourDates.Any())
    {
        foreach (var tourDate in Model.TourDates)
        {
            <div class="row mb-4 d-flex justify-content-between align-items-center">
                <div class="col-lg-@(Model.IsConfirmationPage ? "9" : "10") col-6 text-lg-end">
                    <h6 class="text-muted">Date: @tourDate.StartDate.ToLongDateString() </h6>
                    <h6 class="text-black mb-0">@tourDate.GuestQuantityLabel</h6>
                </div>
                <div class="col-lg-@(Model.IsConfirmationPage ? "3" : "2") col-6 text-lg-center text-end">
                    <h6 class="mb-0">$ @tourDate.FormattedPrice</h6>
                </div>
            </div>
        }
    }
    <hr class="my-4"/>
</div>