@model Travaloud.Application.Catalog.Bookings.Dto.BookingItemDetailsDto

<div class="row mb-4 d-flex justify-content-between align-items-center basketItem" data-id="@Model.Id">
    <div class="col-lg-2 mb-3 mb-lg-0 basketItemImage">
        @if (Model.Property != null)
        {
            <img src="@Model.Property.ImagePath" class="img-fluid rounded-3" alt="@Model.Property.Name">
        }
        else if (Model.Tour != null && !string.IsNullOrEmpty(Model.Tour.ImagePath))
        {
            <img src="@Model.Tour.ImagePath" class="img-fluid rounded-3" alt="@Model.Tour.Name">
        }
    </div>

    <div class="col-lg-6 col-6">
        <h6 class="text-primary cursor-pointer">
            @if (Model.Property != null)
            {
                @Model.Property.Name
            }
            else if (Model.Tour != null)
            {
                @Model.Tour?.Name
            }
        </h6>

        @if (Model.PropertyId.HasValue)
        {
            <h6 class="text-black mb-0">@Model.StartDate.ToShortDateString() - @Model.EndDate.ToShortDateString()</h6>
        }
        else
        {
            <h6 class="text-black mb-0">@Model.StartDate.ToLongDateString()</h6>
        }
    </div>
    <div class="col-lg-4 col-6 text-end">
        @if (Model.Property != null)
        {
            <h6 class="text-muted">@($"{Model.Rooms.Count} Room{(Model.Rooms.Count > 1 ? "s" : "")} Selected")</h6>
        }
        else
        {
            <h6 class="text-muted">@($"1 Date Selected")</h6>
        }
        <h6
            class="text-primary itemToggleButton mb-0"
            type="button"
            data-mdb-collapse-init
            data-mdb-target="#@($"itemDetails{Model.Id}")"
            aria-expanded="false"
            aria-controls="@($"itemDetails{Model.Id}")">
            <i class="fa-solid fa-circle-arrow-down"></i> Show Details
        </h6>
    </div>
</div>

<hr class="my-4 basketItemSpacer" data-id="@Model.Id"/>

<div class="collapse mt-3 basketItemDetails" id="@($"itemDetails{Model.Id}")" data-id="@Model.Id">
    @if (Model.Property != null)
    {
        foreach (var room in Model.Rooms)
        {
            <div class="row mb-4 d-flex justify-content-between align-items-center">
                <div class="col-lg-9 col-6 text-lg-end">
                    <h6 class="text-muted">@room.RoomName</h6>
                    <h6 class="text-black mb-0">@room.Nights nights</h6>
                </div>
                <div class="col-lg-3 col-6 text-end">
                    <h6 class="mb-0">$ @($"{room.Amount:n2}")</h6>
                </div>
            </div>
        }
    }
    else
    {
        <div class="row mb-4 d-flex justify-content-between align-items-center">
            <div class="col-lg-9 col-6 text-lg-end">
                <h6 class="text-muted">Date: @Model.StartDate.ToLongDateString() </h6>
                <h6 class="text-black mb-0">@(Model.Guests.Count == 0 ? 1 : Model.Guests.Count)</h6>
            </div>
            <div class="col-lg-3 col-6 text-end">
                <h6 class="mb-0">$ @($"{Model.Amount:n2}")</h6>
            </div>
        </div>
    }
    <hr class="my-4"/>
</div>