@model Travaloud.Tenants.SharedRCL.Models.WebComponents.FuseHostelsAndTravel.CarouselCardsComponent

<div class="container-fluid p-0 m-0 position-relative overflow-hidden">
    @if (Model.Header != null)
    {
        <div class="container @(!string.IsNullOrEmpty(Model.Header.Title) ? $"pt-{Model.HeaderPaddingTop ?? 8} pb-{Model.HeaderPaddingBottom ?? 8}" : "pb-5") text-center ovals-container-parent">
            <div class="row justify-content-lg-center has-parallax-scroll">
                @if (Model.Header.Title != null)
                {
                    <div class="col-12">
                        <h2 class="@(string.IsNullOrEmpty(Model.Header.Body) ? "mb-0" : "")">@Html.Raw(Model.Header.Title)</h2>
                    </div>
                }

                @if (!string.IsNullOrEmpty(Model.Header.Body))
                {
                    <p>@Html.Raw(Model.Header.Body)</p>
                }

                @if (Model.Header.OvalContainers != null)
                {
                    @Html.DisplayFor(x => x.Header.OvalContainers)
                }
            </div>
        </div>
    }
    <div class="container pb-8">
        @{
            var carouselId = Model.Header is {Title: not null} ? $"{Model.Header.Title.ConvertToCamelCase("Carousel")}" : "eventsCarousel";

            <div class="owl-carousel owl-theme has-parallax-scroll">
                @for (var i = 0; i < Model.Cards.Count(); i++)
                {
                    var card = Model.Cards.ToList()[i];
                    <partial name="@Model.PartialView" model="card" />
                }
            </div>
        }
    </div>
</div>

