@page "/account/forgot-password"
@using Travaloud.Application.Common.Mailing


@attribute [AllowAnonymous]

@inject UserManager<ApplicationUser> UserManager
@inject NavigationManager NavigationManager
@inject IdentityRedirectManager RedirectManager
@inject IStringLocalizer<ForgotPassword> L
@inject IMailService MailService
@inject IEmailTemplateService EmailTemplateService
@inject IJSRuntime JSRuntime

<PageTitle>Forgot your password?</PageTitle>

<EditForm Model="@Input" FormName="forgot-password" OnValidSubmit="OnValidSubmitAsync">
    <MudCard Elevation="0">
        <MudCardHeader>
            <CardHeaderContent>
                <MudTooltip Text="Go Back">
                    <MudIconButton Icon="@Icons.Material.Filled.ArrowBack" Color="Color.Inherit" Edge="Edge.Start"
                                   Link="/account/login"/>
                </MudTooltip>
                <div class="d-flex justify-center">
                    <MudImage Src="@TenantInfo?.LogoImageUrl" Height="120"/>
                </div>
                <div class="fsh-center-text">
                    <MudText Typo="Typo.h4" Class="mt-3" GutterBottom="true" style="margin-bottom:5px">
                        @L["Forgot Password?"]
                    </MudText>
                    <MudText>@L["We can help you by resetting your password."]</MudText>
                    <MudText Class="mt-3">@L["Enter your email below and click the Forgot Password button, you will receive an email to reset your password."]</MudText>
                </div>
            </CardHeaderContent>
        </MudCardHeader>
        <MudCardContent>
            <MudGrid>
                <DataAnnotationsValidator/>

                <MudItem xs="12">
                    <div class="mud-input-control mud-input-input-control">
                        <div class="mud-input-control-input-container">
                            <div class="mud-input mud-input-outlined">
                                <InputText @bind-Value="Input.Email" class="mud-input-slot mud-input-root mud-input-root-outlined" autocomplete="username" aria-required="true" placeholder="Email"/>
                                <div class="mud-input-adornment mud-input-adornment-end"></div>
                                <div class="mud-input-outlined-border"></div>
                            </div>
                        </div>
                    </div>
                    
                    <ValidationMessage For="() => Input.Email" class="text-danger"/>
                </MudItem>
            </MudGrid>
        </MudCardContent>
        <MudCardActions Class="pb-4 pl-4">
            <MudButton Variant="Variant.Filled" Color="Color.Primary" StartIcon="@Icons.Material.Filled.LockReset" ButtonType="ButtonType.Submit" Class="ml-auto">
                @L["Forgot Password"]
            </MudButton>
        </MudCardActions>
    </MudCard>
</EditForm>