@page "/management/travel-guides"
@using Travaloud.Application.Catalog.TravelGuides.Dto

@attribute [MustHavePermission(TravaloudAction.View, TravaloudResource.TravelGuides)]

@inject IStringLocalizer<TravelGuides> L

<TravaloudPageTitle Title="@L["Travel Guides"]" Description="@L["Manage Travel Guides"]"/>

<EntityTable @ref="_table" TEntity="TravelGuideDto" TId="DefaultIdType" TRequest="TravelGuideViewModel" Context="@Context" IsWizard="true" WizardSteps="@WizardSteps">
    <WizardStep1Content>
        <MudGrid>
            <MudItem xs="12" md="6">
                <MudTextField Label="@L["Title"]" For="@(() => context.Title)" @bind-Value="context.Title" Required="true" HelperText="Enter a Title" Variant="Variant.Outlined"/>
            </MudItem>
            <MudItem xs="12" md="6">
                <MudTextField Label="@L["Sub Title"]" For="@(() => context.SubTitle)" @bind-Value="context.SubTitle" Required="true" HelperText="Enter a Sub Title" Variant="Variant.Outlined"/>
            </MudItem>
            <MudItem xs="12" md="12">
                <MudInputLabel Class="mb-3">@L["Short Description (to be shown in a grid view on Travel Guides page)"]</MudInputLabel>
                <MudExRichTextEdit @bind-Value="context.ShortDescription" For="@(() => context.ShortDescription)" BackgroundColor="MudExColor.Transparent" />
            </MudItem>
        </MudGrid>
    </WizardStep1Content>
    <WizardStep2Content>
        <MudGrid>
            <MudItem xs="12" md="12">
                <MudInputLabel Class="mb-3">@L["Full Description"]</MudInputLabel>
                <MudExRichTextEdit @bind-Value="context.Description" For="@(() => context.Description)" BackgroundColor="MudExColor.Transparent" CustomUploadFunc="OnUpload" />
            </MudItem>
        </MudGrid>
    </WizardStep2Content>
    <WizardStep3Content>
        <MudGrid>
            <MudItem xs="12" md="12">
                <MudTextField Label="@L["URL Slug"]" For="@(() => context.UrlFriendlyTitle)" @bind-Value="context.UrlFriendlyTitle" HelperText="Enter a URL Slug" Variant="Variant.Outlined"/>
            </MudItem>
            <MudItem xs="12" md="12">
                <MudTextField Label="@L["Meta Keywords"]" For="@(() => context.MetaKeywords)" @bind-Value="context.MetaKeywords" HelperText="Enter Meta Keywords (recommended max limit of 20)" Variant="Variant.Outlined"/>
            </MudItem>
            <MudItem xs="12" md="12">
                <MudTextField Label="@L["Meta Description"]" Lines="5" For="@(() => context.MetaDescription)" @bind-Value="context.MetaDescription" HelperText="Enter a Meta Description" Variant="Variant.Outlined"/>
            </MudItem>
        </MudGrid>
    </WizardStep3Content>
    <WizardStep4Content>
        <MudGrid>
            <MudItem xs="12" md="6">
                <MudStack>
                    <MudItem xs="12" md="12">
                        <div>
                            <MudButton HtmlTag="label" DisableElevation Variant="Variant.Filled" Color="Color.Primary" Size="Size.Small"
                                       StartIcon="@Icons.Material.Filled.CloudUpload" for="fileInput">
                                @L["Select Banner Image"]
                            </MudButton>
                            @if (Context.AddEditModal != null && !Context.AddEditModal.IsCreate && !string.IsNullOrEmpty(context.ImagePath) && string.IsNullOrEmpty(context.ImageInBytes))
                            {
                                <MudButton HtmlTag="label" DisableElevation Variant="Variant.Filled" Color="Color.Info" Size="Size.Small" Target="_blank"
                                           StartIcon="@Icons.Material.Filled.RemoveRedEye" Link="@(context.ImagePath)" Style="margin-left: 5px;">
                                    @L["View"]
                                </MudButton>

                                <MudButton HtmlTag="label" DisableElevation Variant="Variant.Filled" Color="Color.Error" Size="Size.Small"
                                           StartIcon="@Icons.Material.Filled.Delete" OnClick="SetDeleteCurrentImageFlag" Style="margin-left: 5px;">
                                    @L["Delete"]
                                </MudButton>
                            }
                            @if (!string.IsNullOrEmpty(context.ImageInBytes))
                            {
                                <MudButton HtmlTag="label" DisableElevation OnClick="ClearImageInBytes" Variant="Variant.Filled" Color="Color.Warning" Size="Size.Small" Target="_blank"
                                           StartIcon="@Icons.Material.Filled.Clear" Style="margin-left: 5px;">
                                    @L["Clear"]
                                </MudButton>
                            }
                        </div>
                        <InputFile id="fileInput" hidden OnChange="UploadFiles"/>
                    </MudItem>
                    <MudItem xs="12" md="12">
                        @if (!string.IsNullOrEmpty(context.ImageInBytes))
                        {
                            <MudAvatar Image="@context.ImageInBytes" Square="true" Style="height: auto; width: auto; max-height: 100%"> </MudAvatar>
                        }
                        else
                        {
                            <MudAvatar Image="@(string.IsNullOrEmpty(@context.ImagePath) ? string.Empty : (@context.ImagePath))" Square="true" Style="height: auto; width: auto; max-height: 100%"> </MudAvatar>
                        }
                    </MudItem>
                </MudStack>
            </MudItem>
            <MudItem xs="12" md="6">
                <MudStack>
                    <MudItem xs="12" md="12">
                        <MudButton HtmlTag="label" DisableElevation Variant="Variant.Filled" Color="Color.Primary" Size="Size.Small"
                                   StartIcon="@Icons.Material.Filled.CloudUpload" for="slideshowImageFileInput">
                            @L["Add Slideshow Image"]
                        </MudButton>
                        <InputFile id="slideshowImageFileInput" hidden OnChange="UploadGalleryImage"/>
                    </MudItem>
                    <MudItem xs="12" md="12">
                        @if (context.TravelGuideGalleryImages != null)
                        {
                            <MudGrid>
                                @foreach (var image in context.TravelGuideGalleryImages)
                                {
                                    <MudItem xs="12" md="6" Style="height:220px;">
                                        @if (!string.IsNullOrEmpty(image.ImageInBytes))
                                        {
                                            <MudImage ObjectFit="ObjectFit.Cover" Style="width:100%; height:85%;" Src="@image.ImageInBytes" Alt="Gallery image" Elevation="25" Class="rounded-lg"/>
                                        }
                                        else
                                        {
                                            <MudImage ObjectFit="ObjectFit.Cover" Style="width:100%; height:85%;" Src="@image.ImagePath" Alt="Gallery image" Elevation="25" Class="rounded-lg"/>
                                        }

                                        @if (image != context.TravelGuideGalleryImages.First())
                                        {
                                            <MudIconButton Icon="@Icons.Material.Filled.ArrowCircleLeft" OnClick="@(() => SetGalleryImagesSortOrder(image))" Color="Color.Primary" aria-label="left" Style="margin-right: 5px;"></MudIconButton>
                                        }

                                        @if (!string.IsNullOrEmpty(image.ImageInBytes))
                                        {
                                            <MudButton HtmlTag="label" DisableElevation OnClick="@(() => ClearGalleryImageInBytes(image))" Variant="Variant.Filled" Color="Color.Warning" Size="Size.Small" Target="_blank"
                                                       StartIcon="@Icons.Material.Filled.Clear" Style="margin-left: 5px;">
                                                @L["Clear"]
                                            </MudButton>
                                        }
                                        else
                                        {
                                            <MudButton HtmlTag="label" DisableElevation Variant="Variant.Filled" Color="Color.Info" Size="Size.Small" Target="_blank"
                                                       StartIcon="@Icons.Material.Filled.RemoveRedEye" Link="@(image.ImagePath)" Style="margin-left: 5px;">
                                                @L["View"]
                                            </MudButton>

                                            <MudButton HtmlTag="label" DisableElevation Variant="Variant.Filled" Color="Color.Error" Size="Size.Small"
                                                       StartIcon="@Icons.Material.Filled.Delete" OnClick="@(() => SetDeleteGalleryImageFlag(image))" Style="margin-left: 5px;">
                                                @L["Delete"]
                                            </MudButton>
                                        }

                                        @if (image != context.TravelGuideGalleryImages.Last())
                                        {
                                            <MudIconButton Icon="@Icons.Material.Filled.ArrowCircleRight" OnClick="@(() => SetGalleryImagesSortOrder(image, true))" Color="Color.Primary" aria-label="right" Style="margin-left: 5px;"></MudIconButton>
                                        }
                                    </MudItem>
                                }
                            </MudGrid>
                        }
                    </MudItem>
                </MudStack>
            </MudItem>
        </MudGrid>
    </WizardStep4Content>
</EntityTable>