@page "/basket"

@model Travaloud.Tenants.SharedRCL.Pages.Basket.IndexModel

<section class="h-100 bg-light">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12">
                <div class="card card-registration card-registration-2" style="border-radius: 15px;">
                    <div class="card-body p-0">
                        @{
                        <div class="row g-0">
                            <div class="col-lg-8">
                                <div class="p-5">
                                    <div class="d-flex justify-content-between align-items-center mb-5">
                                        <h1 class="fw-bold mb-0 text-black display-3">Basket</h1>
                                        <h6 class="mb-0 text-muted basketItemsQuantity">@($"{Model.Basket.ItemsCount} item{(Model.Basket.ItemsCount > 1 ? "s" : "")}")</h6>
                                    </div>

                                    <hr class="my-4 basketBodySpacer">

                                    @if (Model.Basket.Items.Any())
                                    {
                                        foreach (var item in Model.Basket.Items)
                                        {
                                            @Html.DisplayFor(x => item)
                                           
                                            @* if (item.TourDates != null && item.TourDates.Any()) *@
                                            @* { *@
                                            @*     @Html.DisplayFor(x => item.TourDates) *@
                                            @* } *@
                                            @* *@
                                            @* if (item.Rooms.Any()) *@
                                            @* { *@
                                            @*     @Html.DisplayFor(x => item.Rooms) *@
                                            @* } *@
                                        }
                                    }
                                    else
                                    {
                                        <p>Your basket is empty.</p>
                                    }

                                    <div class="pt-5">
                                        <h6 class="mb-0">
                                            <a asp-page="/Home/Index" class="text-body">
                                                <i class="fas fa-long-arrow-alt-left me-2"></i>Continue Exploring
                                            </a>
                                        </h6>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 bg-grey">
                                <div class="p-5">
                                    <h3 class="fw-bold mb-5 mt-2 pt-1">Summary</h3>
                                    <div class="d-flex justify-content-between mb-5">
                                        <h5 class="text-uppercase">Total</h5>
                                        <h5 id="basketTotal">$ @($"{Model.Basket.Total:n2}")</h5>
                                    </div>
                                    <hr class="my-4">

                                    <a role="button" asp-page="/Checkout/Index" id="proceedToCheckoutButton" class="btn btn-primary btn-block btn-lg @(!Model.Basket.Items.Any() ? "d-none" : "")">
                                        Proceed To Checkout
                                    </a>
                                </div>
                            </div>
                        </div>}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts
{
    <script type="text/javascript">
        var basket = @Html.Raw(Json.Serialize(Model.Basket));
    </script>

    <script src="/shared/js/basket.min.js"></script>
}