@page
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model Travaloud.Tenants.SharedRCL.Pages.TourBooking.IndexModel

<section class="h-100 h-custom bg-dark">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12">
                <div class="card card-registration card-registration-2" style="border-radius: 15px;">
                    <div class="card-body p-0">
                        @{
                            <div class="row g-0">
                                <div class="col-lg-8">
                                    <div class="p-5">
                                        <div class="d-flex justify-content-between align-items-center mb-5">
                                            <h1 class="fw-bold mb-0 text-black">Confirm Booking</h1>
                                            <h6 class="mb-0 text-muted basketItemsQuantity">@($"{Model.Basket.Items.Count} item{(Model.Basket.Items.Count > 1 ? "s" : "")}")</h6>
                                        </div>

                                        <hr class="my-4 basketBodySpacer">

                                        @if (Model.Basket.Items.Any())
                                        {
                                            foreach (var item in Model.Basket.Items)
                                            {
                                                @Html.DisplayFor(x => item.TourDates)
                                            }
                                        }
                                        else
                                        {
                                            <p>Your basket is empty.</p>
                                        }

                                        <div class="pt-5">
                                            <h6 class="mb-0">
                                                <a asp-page="/Basket/Index" class="text-body">
                                                    <i class="fas fa-long-arrow-alt-left me-2"></i>Back to Basket
                                                </a>
                                            </h6>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 bg-grey">
                                    <div class="p-5">
                                        <h3 class="fw-bold mb-5 mt-2 pt-1">Summary</h3>
                                        <hr class="my-4">

                                        <div class="d-flex justify-content-between mb-5">
                                            <h5 class="text-uppercase">Total</h5>
                                            <h5 id="basketTotal">$ @string.Format("{0:n2}", Model.Basket.Total)</h5>
                                        </div>

                                        @if (!string.IsNullOrEmpty(Model.Basket.PromoCode))
                                        {
                                            <h5 class="text-uppercase mb-3">Promo code</h5>

                                            <div class="mb-5">
                                                <p>@($"Promo code {Model.Basket.PromoCode} applied")</p>
                                            </div>
                                        }

                                        <hr class="my-4">

                                        <a role="button" href="/basket" class="btn btn-dark btn-block btn-lg" data-mdb-ripple-color="dark">
                                            Checkout
                                        </a>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts {
    <script type="text/javascript">
        $(window).on('load', function () {
            var userSignedIn = '@User.Identity.IsAuthenticated';
            userSignedIn = userSignedIn.toLowerCase()

            if (userSignedIn == 'false') {
                window.setTimeout(function () {
                    $('.book-now-login-titles').show();

                    const myModalEl = document.getElementById('logInModal');
                    const modal = new mdb.Modal(myModalEl);
                    modal.show();
                }, 1500);
            }
        });
    </script>
}