@inject IStringLocalizer<PartialRefundConfirmation> L

<MudDialog>
    <TitleContent>
        <MudText Typo="Typo.h6">
            @Title
        </MudText>
    </TitleContent>
    <DialogContent>
        <div style="text-align: center">
            @if (Title == "Cancel Booking")
            {
                <MudText Class="mb-2">Would you like to process a refund before cancelling this booking?</MudText>
                <MudText Class="mb-2">The total possible value would be for the amount of @($"${string.Format("{0:n2}", BookingAmount)}").</MudText>
                <MudText Class="mb-4">Please enter an amount you would like to refund below, or leave as zero if you would not like to issue a refund.</MudText>

            }
            else if (Title == "Refund Booking")
            {
                <MudText Class="mb-4">Please enter an amount you would like to refund below, the maximum amount to refund is @($"${string.Format("{0:n2}", BookingAmount)}").</MudText>

            }
            else
            {
                <MudText Class="mb-2">As this booking has been paid for, a refund would be required for the amount of @($"${string.Format("{0:n2}", BookingAmount)}").</MudText>
                <MudText Class="mb-4">Please enter an amount you would like to refund below, or leave as zero if you would not like to issue a refund.</MudText>
            }
            
            <MudNumericField For="@(() => RefundAmount)" @bind-Value="@RefundAmount" Variant="Variant.Outlined" Label="Enter an Amount to Refund" Min="0" Max="@BookingAmount"></MudNumericField>
        </div>
    </DialogContent>
    <DialogActions>
        <MudButton StartIcon="@Icons.Material.Filled.Cancel" OnClick="Cancel">@L["Cancel"]</MudButton>
        <MudButton StartIcon="@Icons.Material.Filled.Check" Color="Color.Primary" Variant="Variant.Filled" Class="me-2" OnClick="SubmitWithRefund">@L["Save"]</MudButton>
    </DialogActions>
</MudDialog>

@code {
    [CascadingParameter] private MudDialogInstance MudDialog { get; set; } = default!;
    [Parameter] public decimal BookingAmount { get; set; }
    public decimal RefundAmount { get; set; }
    [Parameter] public string Title { get; set; } = "Refund Required";
    
    void SubmitWithRefund()
    {
        MudDialog.Close(DialogResult.Ok(RefundAmount));
    }
    
    void SubmitWithHalfRefund()
    {
        MudDialog.Close(DialogResult.Ok("HalfRefund"));
    }

    void SubmitWithoutRefund()
    {
        MudDialog.Close(DialogResult.Ok("NoRefund"));
    }

    void Cancel() => MudDialog.Cancel();
}