@inject IStringLocalizer<PartialRefundConfirmation> L

<MudDialog>
    <TitleContent>
        <MudText Typo="Typo.h6">
            Refund Required
        </MudText>
    </TitleContent>
    <DialogContent>
        <div style="text-align: center">
            <MudText Class="mb-2">As this booking has been paid for, a refund would be required for the amount of @($"${string.Format("{0:n2}", RefundAmount)}").</MudText>
            <MudText Class="mb-4">Would you like to process this partial refund? Or continue without refunding.</MudText>

            <MudNumericField For="@(() => RefundPercentage)" @bind-Value="@RefundPercentage" Variant="Variant.Outlined" Label="Select a Percentage to Refund" Min="0" Max="100"></MudNumericField>
        </div>
    </DialogContent>
    <DialogActions>
        <MudButton StartIcon="@Icons.Material.Filled.Cancel" OnClick="Cancel">@L["Cancel"]</MudButton>
        <MudButton StartIcon="@Icons.Material.Filled.Check" Color="Color.Primary" Variant="Variant.Filled" Class="me-2" OnClick="SubmitWithRefund">@L["Save"]</MudButton>
    </DialogActions>
</MudDialog>

@code {
    [CascadingParameter] private MudDialogInstance MudDialog { get; set; } = default!;
    [Parameter] public decimal RefundAmount { get; set; }
    public int RefundPercentage { get; set; }
    
    void SubmitWithRefund()
    {
        MudDialog.Close(DialogResult.Ok(RefundPercentage));
    }
    
    void SubmitWithHalfRefund()
    {
        MudDialog.Close(DialogResult.Ok("HalfRefund"));
    }

    void SubmitWithoutRefund()
    {
        MudDialog.Close(DialogResult.Ok("NoRefund"));
    }

    void Cancel() => MudDialog.Cancel();
}